* {
	-webkit-box-sizing: border-box;
}

html {
	height: 100%;
	-webkit-user-select: none;
}

body {
	height: 100%;
	margin: 0;
	padding: .75em;
	font-family: -apple-system;
	font-size: 13px;
	line-height: 1em;
}

.row, .column {
	display: flex;
}

.column {
	flex-direction: column;
}

form {
	height: 100%;
}

label {
	display: block;
}

main > * + *, footer {
	margin-top: .75em;
}

.row > * + * {
	margin-left: .75em;
}

input[type="text"], textarea, button {
	display: block;
	font-size: inherit;
	margin: 0;
}

input[type="text"], textarea {
	width: 100%;
	margin-top: .25em;
	border: 1px solid #bbb;
	padding: .375em;
}

textarea {
	resize: vertical;
	height: 5em;
}

main {
	flex: 1;
}

footer {
	flex: none;
	justify-content: space-between;
}

button {
	flex: none;
	width: 6.5em;
}